body
{
    background-color:slategray;
    font-size: 30px;
    font-weight: 700;
}

.container
{
    background-color:slategray;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.result
{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    background-color: thistle;
    border: 20px solid lightcyan;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 320px;
    height: 100px;
    padding: 20px 20px 0px 20px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    color: #4F4F5D;
    align-items: flex-end;
}

.first_number{
    font-size: 20px;
    position: absolute;
}

.second_number{
    font-size: 30px;
}

.keyboard
{
    background-color: gainsboro;
    border: 20px solid lightcyan;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: inherit;
    height: 290px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: auto;
}
.number
{
    width: 90px;
    height: 60px;
    background-color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid lightsteelblue;
    color: darkslategray;
    box-shadow: 0 0 1em lightsteelblue;

}
.number:hover{
    background-color: white;
    color: slategray;
}
.operator
{
    width: 90px;
    height: 60px;
    background-color:paleturquoise;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid lightsteelblue;
    color: darkslategray;
    box-shadow: 0 0 1em lightsteelblue;
}

.operator:hover{
    background-color: lightcyan;
    color: slategray;

}

.rowne{
    width: 90px;
    height: 60px;
    background-color: paleturquoise;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid lightsteelblue;
    color: darkslategray;
    box-shadow: 0 0 1em lightsteelblue;
}

.rowne:hover {
    background-color: lightcyan;
    color: slategray;
}

.delete{
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    background-color:azure;
    text-decoration: none;
    border: 1px solid lightsteelblue;
    color: darkslategray;
    box-shadow: 0 0 1em lightsteelblue;
}

.delete:hover {
    background-color: white;
    color: slategray;
}

.clean_all{
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    background-color:azure;
    text-decoration: none;
    border: 1px solid lightsteelblue;
    color: darkslategray;
    box-shadow: 0 0 1em lightsteelblue;
}

.clean_all:hover {
    background-color: white;
    color: slategray;
}
